1/notMNIST_small.mat
1/model.pt
1/runs
1/__pycache__
1/dataset_old.py
1/.vscode
projekt-architektura/architectural-styles-dataset
projekt-architektura/doc
projekt-architektura/scratchpad.ipynb
projekt-architektura/__pycache__
projekt-architektura/trained_models
.vscode